@import "../includes/global-pc.less";
@import "../includes/loading.less";

body {
    background-color: rgba(0, 0, 0, .7);
    height: 100vh;
    overflow: hidden !important;
}

#container {
    position: relative;
    margin: auto;
    max-width: 1280px;
    min-height: 600px;
    display: block;
    width: 100%;
    height: 100%;

    #header {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        margin-top: 22px;
        padding: 0 5%;
        color: @white;
        .clearfix();

        .logo-menu();
    }

    #main {
        position: absolute;
        top: 45%;
        left: 10%;
        margin-top: -180px;
        width: 80%;
        color: @white;

        #intro {
            position: relative;
            display: none;
            height: 300px;
            font-size: @font-size-h1;
            text-align: center;
            line-height: 2.4;
            letter-spacing: 8px;

            p {
                text-shadow: 0 1px 1px @black;
                .opacity(0);
                transform: translate3d(0, 100px, 0);
                transition: all 4s;

                &.show-up {
                    .opacity(1);
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        #download {
            width: 200px;
            height: 50px;
            line-height: 50px;
            margin: 80px auto 0;

            a {
                position: relative;
                color: @white;
                display: block;
                font-size: @font-size-larger;
                padding-left: 32px;
                text-align: center;
                border: 2px solid @white;
                border-radius: 30px;
                box-sizing: border-box;
                background-color: rgba(255, 255, 255, 0.2);
                transition: all 0.4s;
                box-shadow: 0 2px 2px 0 @black;

                &:before{
                    content: "";
                    display:inline-block;
                    position:absolute;
                    top:50%;
                    left:30px;
                    width:22px;
                    height:22px;
                    margin-top:-11px;
                    background-image:url(@web-common-bg-url);
                    background-position:0 -60px;
                }

                &:hover {
                    color: @gray;
                    background-color: @white;

                    &:before {
                        background-position:0 -85px;
                    }
                }
            }
        }

        #qrcode {
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -125px;
            text-align: center;
            width: 250px;
            height: 330px;
            background-color: @white;
            z-index: 3;

            img {
                margin-top: 20px;
                width: 210px;
                height: 210px;
            }

            p {
                margin-top: 10px;
                color: @gray-dark;
                line-height: 1.5;
            }
        }
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 90%;
        margin: 0 5% 22px;
        color: @white;
        text-align: right;
        .opacity(0.8);
        .clearfix();
    }
}

#scene {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 767px) {
    #container {
        #main {
            left: 8%;
            width: 84%;
            margin-top: -100px;

            #intro {
                height: auto;
                font-size: @font-size-xl;
                letter-spacing: 2px;
            }
        }
    }
}

#loading{
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -30px;
    margin-top: 150px;
    height: 150px;

    .tip{
        line-height:3;
    }
}

@import "../includes/vegas.less";
