body {
    .body-max-width();
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

a {
    color: @gray;
}

@media only screen
and (min-device-width: 320px) {
    html {
        font-size: 13px;
    }
}

@media only screen
and (min-device-width: 360px) {
    html {
        font-size: 14px;
    }
}

@media only screen
and (min-device-width: 414px) {
    html {
        font-size: 15px;
    }
}
